html, hr, a, h1, h2, button, input, textarea {
    text-align: center;
    font-family: monospace;
    background-color: black;
    color: #00ff00;
}

input, textarea, button {
    border-color: #00ff00;
}

button {
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: 200;
    text-transform: uppercase;
}

strong {
    word-wrap: break-word;
}